<!DOCTYPE html>
<html>
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/b-print-1.6.5/datatables.min.css"/>
    <title>
      {% block page_title %}
      Evidence dárců ČČK Frýdek-Místek
      {% endblock %}
    </title>
    {% block css %}{% endblock %}
  </head>
  <body>
    {% include "nav.html" %}
    <div class="container mt-4">
      {% block body %}

      <main role="main">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %}
        <div class="row">
          <div class="col-md-12">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <a class="close" title="Zavřít" href="#" data-dismiss="alert"
                >&times;</a
              >
              {{ message }}
            </div>
            <!-- end .alert -->
            {% endfor %}
          </div>
          <!-- end col-md -->
        </div>
        <!-- end row -->
        {% endif %} {% endwith %} {% block content %}{% endblock %}
      </main>

  </div>

    <!-- JQuery, Datatables and Bootstrap JS loaded before custom JS for each page -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/b-print-1.6.5/datatables.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- JavaScript at the bottom for fast page loading -->
    {% block js %}{% endblock %}
    <!-- end scripts -->
    {% endblock %}
  </body>
</html>
