[run]
source = registry/
omit =
    .tox/*
    migrations/*
    registry/settings.py
    tests/*

[report]
fail_under = 100
# Regexes for lines to exclude from consideration
exclude_lines =
    # Ignore manually skipped lines
    pragma: no cover
    # Don't complain about missing debug-only code:
    def __repr__
    if app.debug
