[run]
source = registry/
omit =
    migrations/*
    tests/*
    .tox/*

[report]
fail_under = 100
# Regexes for lines to exclude from consideration
exclude_lines =
    # Ignore manually skipped lines
    pragma: no cover
    # Don't complain about missing debug-only code:
    def __repr__
