{% extends "layout.html" %}
{% block content %}

{% if not current_user or not current_user.is_authenticated %}
{% with form=form %}
<form class="form-inline" id="loginForm" method="POST" action="/" role="login">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div>
      {{ form.email(placeholder="E-mail", class_="form-control mr-sm-1 my-auto") }} {{ form.password(placeholder="Heslo",
      class_="form-control mr-sm-1 my-auto") }}
      <input type="submit" value="Přihlásit">
    </div>
 </form>
{% endwith %}
{% endif %}

{% endblock %}
