{% extends "layout.html" %}
{% block content %}

<h1>Přehled dárců k ocenění: {{ medal.title }}</h1>

<table id="overview" class="table table-striped table-hovered table-hover">
    <thead class="thead-dark">
        <tr>
            <th class="rodne_cislo">Rodné číslo</th>
            <th>Jméno</th>
            <th>Přijmení</th>
            <th>Adresa</th>
            <th>Město</th>
            <th>PSČ</th>
            <th>Pojišťovna</th>
            <th>Darování</th>
            <th>Podpis</th>
        </tr>
    </thead>
    <tbody>
        {% for donor in donors %}
        <tr>
            <td>{{ donor.rodne_cislo }}</td>
            <td>{{ donor.first_name }}</td>
            <td>{{ donor.last_name }}</td>
            <td>{{ donor.address }}</td>
            <td>{{ donor.city }}</td>
            <td>{{ donor.postal_code }}</td>
            <td>{{ donor.kod_pojistovny }}</td>
            <td>{{ donor.donation_count_total }}</td>
            <td>&nbsp;</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready( function () {
        $('#overview').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.10.21/i18n/Czech.json'
            },
            buttons: [{
                extend: 'print',
                text: 'Tisk prezenční listiny',
                title: '',
            }],
            dom: "Blfrtip",
            columnDefs: [{
                "targets": "rodne_cislo",
                "render": function ( data, type, row, meta ) {
                  return "<a href='"+"{{ url_for('donor.detail', rc='REPLACE_ME') }}".replace("REPLACE_ME", row[0]) + "'>" + row[0] + "</a>";}
            }]
        });
    } );
</script>
{% endblock %}
