{% extends "layout.html" %}
{% block content %}

<h1>Přehled dárců k ocenění: {{ medal.title }}</h1>

{% with form=award_medal_form %}

<a class="btn btn-primary" role="button" href="{{ url_for('donor.render_award_documents_for_award_prep', medal_slug=medal.slug) }}" target="_blank">Potvrzení k medailím pro všechny</a>
<form id="awardMedalForm" action="{{ url_for('donor.award_medal') }}" method="POST" class="form-inline" role="form">
{{ form.csrf_token }}
{{ form.medal_id(value=medal.id) }}
<input type="submit" class="btn btn-success" value="Udělit medaili označeným dárcům">

<!-- Updating the table? Don't forget to check the print (pre)view. -->
<table id="overview" class="table table-striped table-hovered table-hover">
    <thead class="thead-dark">
        <tr>
            <th class="rodne_cislo" data-name="rodne-cislo">Rodné číslo</th>
            <th class="first_name">Jméno</th>
            <th class="last_name">Přijmení</th>
            <th class="address">Adresa</th>
            <th class="city">Město</th>
            <th class="postal_code">PSČ</th>
            <th class="kod_pojistovny">Pojišťovna</th>
            <th>Darování</th>
            <th class="sign">Podpis</th>
            <th class="note">Pozn.</th>
            <th class="chosen">Vybrat vše <input type="checkbox" onClick="toggle(this)" checked=true></th>
        </tr>
    </thead>
    <tbody>
        {% for donor in donors %}
        <tr>
            <td>{{ donor.rodne_cislo }}</td>
            <td>{{ donor.first_name|capitalize }}</td>
            <td>{{ donor.last_name|capitalize }}</td>
            <td>{{ donor.address|capitalize }}</td>
            <td>{{ donor.city|capitalize }}</td>
            <td>{{ donor.postal_code|postal_code }}</td>
            <td>{{ donor.kod_pojistovny }}</td>
            <td>{{ donor.donation_count_total }}</td>
            <td>&nbsp;</td>
            <td>{{ donor.note.note }}</td>
            <td>{{ form["rodne_cislo_" + donor.rodne_cislo](value=donor.rodne_cislo) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<input type="submit" class="btn btn btn-success" value="Udělit medaili označeným dárcům">
</form>
{% endwith %}

{% endblock %}

{% block js %}
<script src="/static/donors_override_highlight.js"></script>
<script type="text/javascript">
    $(document).ready( function () {
        const columnDefs =  [{
                "targets": "rodne_cislo",
                "render": function (data, type, row, meta) {
                    if (type == "display")
                        return "<a href='"+"{{ url_for('donor.detail', rc='REPLACE_ME') }}".replace("REPLACE_ME", row[0]) + "'>" + row[0] + "</a>"
                    else
                        return data;
                }
            }, {
                "targets": "sign",
                "visible": false
            }, {
                "targets": "chosen",
                "orderable": false
            },{
                "targets": "note",
                "render": function ( data, type, row, meta ) {
                  if (data)
                    return `<span data-toggle="modal" data-target="#titleModal" title="${data}">⚠️</span>`;
                  return "";
                },
                "orderable": false,
            },];

        highlightOverridenValues("{{ url_for('donor.get_overrides') }}", {{ override_column_names | safe }} , columnDefs, function() {
            $('#overview').DataTable({
                stateSave: true,
                stateDuration: -1, // -1 means session storage in the current browser window
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.21/i18n/Czech.json'
                },
                buttons: [{
                    extend: 'print',
                    text: 'Tisk prezenční listiny',
                    title: '',
                    exportOptions: {
                        columns: [...Array(9).keys()]
                    }
                }],
                dom: "Blfrtip",
                columnDefs: columnDefs
            });
        });
    } );

    function toggle(source) {
        checkboxes = document.getElementsByName('rodne_cislo');
        for(var checkbox of checkboxes) {
            checkbox.checked = source.checked;
        }
    }
</script>

{% include "title_popup.html" %}
{% endblock %}
