{% extends "layout.html" %}
{% block content %}

<h1>Detail dárce</h1>
<div class="row">
    <div class="col">
        <h2>Aktuální informace</h2>

        <ul>
            <li>Rodné číslo: {{ overview.rodne_cislo }}</li>
            <li>Jméno: {{ overview.first_name }}</li>
            <li>Příjmení: {{ overview.last_name }}</li>
            <li>Adresa: {{ overview.address }}</li>
            <li>Město: {{ overview.city }}</li>
            <li>PSČ: {{ overview.postal_code }}</li>
            <li>Pojišťovna: {{ overview.kod_pojistovny }}</li>
        </ul>
    </div>
    <div class="col">
        <h2>Počty darování</h2>

        <ul>
            {% for donation_center in donation_centers %}
                <li>{{ donation_center.title }}: {{ overview["donation_count_" + donation_center.slug] }}</li>
            {% endfor %}
            <li><b>Celkem: {{ overview.donation_count_total }}</b></li>
        </ul>
    </div>
    <div class="col">
        <h2>Získaná ocenění</h2>

        <ul>
            {% for awarded_medal in awarded_medals %}
            <li>
                {% with form=remove_medal_form %}
                <form id="removeMedalForm" action="{{ url_for('donor.remove_medal') }}" method="POST"
                    class="form-inline" role="form">
                    <div class="form-group">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        {{ form.rodne_cislo(value=overview.rodne_cislo) }}
                        {{ form.medal_id(value=awarded_medal.medal_id) }}
                        <input type="submit" class="btn btn-sm btn-danger" value="🗑">
                        &nbsp;{{ awarded_medal.medal.title }}
                    </div>
                </form>
                {% endwith %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<h2>Historie importů</h2>

<table id="records" class="table table-striped table-hovered table-hover">
    <thead class="thead-dark">
        <th>Dávka</th>
        <th>Importováno</th>
        <th>Centrum</th>
        <th>Rodné číslo</th>
        <th>Jméno</th>
        <th>Příjmení</th>
        <th>Adresa</th>
        <th>Město</th>
        <th>PSČ</th>
        <th>Pojišťovna</th>
        <th>Počet darování</th>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            <td>{{ record.batch_id }}</td>
            <td>{{ record.batch.imported_at }}</td>
            <td>{{ record.batch.donation_center.title }}</td>
            <td>{{ record.rodne_cislo }}</td>
            <td>{{ record.first_name }}</td>
            <td>{{ record.last_name }}</td>
            <td>{{ record.address }}</td>
            <td>{{ record.city }}</td>
            <td>{{ record.postal_code }}</td>
            <td>{{ record.kod_pojistovny }}</td>
            <td>{{ record.donation_count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready( function () {
        $('#records').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.10.21/i18n/Czech.json'
            },
        });
    });
</script>
{% endblock %}
