{% extends "layout.html" %}
{% block content %}

<h1>Přehled dárců</h1>

<table id="overview" class="table table-striped table-hovered table-hover">
    <thead class="thead-dark">
        <tr>
            {% for column_class, column_name in column_names.items() %}
            <th class="{{ column_class }}">{{ column_name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

{% endblock %}

{% block js %}
<script src="/static/donors_override_highlight.js"></script>
<script type="text/javascript">
    function create_tooltip_for_donations(data) {
        var title = ``;
        Object.keys(data).forEach((slug, index) => {
            title += `${data[slug]["name"]}: ${data[slug]["count"]}\n`;
        });
        return `<span data-toggle="modal" data-target="#titleModal" title="${title}">❓</span>`;
    }

    $(document).ready( function () {
        const columnDefs = [
            {
                "targets": "rodne_cislo",
                "render": function (data, type, row, meta) {
                    if (type == "display")
                        return "<a href='"+"{{ url_for('donor.detail', rc='REPLACE_ME') }}".replace("REPLACE_ME", row.rodne_cislo) + "'>" + row.rodne_cislo + "</a>"
                    else
                        return data;
                }
            }, {
                "targets": "donations",
                "render": function (data, type, row, meta) {
                    return data.total + create_tooltip_for_donations(data);
                }
            },
        ];

        let dataTable = null;

        highlightOverridenValues("{{ url_for('donor.get_overrides') }}", {{ override_column_names | safe }}, columnDefs, function() {
            if (dataTable !== null)
                dataTable.draw();
        });

        dataTable = $('#overview').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.10.21/i18n/Czech.json'
            },
            "processing": true,
            "serverSide": true,
            "ajax": "{{ url_for('donor.overview_data') }}",
            "columns": [
                {% for column_class in column_names.keys() -%}
                    {"data": "{{ column_class }}"},
                {%- endfor %}
            ],
            "columnDefs": columnDefs
        });
    } );
</script>

{% include "title_popup.html" %}
{% endblock %}
